body{
    background-color: black;
}
.card1{
    background-color: green;
    font-family: fantasy;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.card2{
    background-color: yellow;
    font-family: fantasy;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.card3{
    background-color: red;
    font-family: fantasy;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.jumbotron{
    background-color: orange;
    font-family: sans-serif;
}
.form-group{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    background-color: pink;
}
.row{
    padding-left: 20%;
    padding-right: 20%;
}