body{
    background-color: blue;
}
.card1{
    background-color: green;
    font-family: fantasy;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.card2{
    background-color: yellow;
    font-family: fantasy;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.card3{
    background-color: red;
    font-family: fantasy;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.jumbotron{
    background-color: orange;
    font-family: sans-serif;
}
.row{
    padding-left: 220px;
}